@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
}



#navbar {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 0 8rem;
}

#left-part-nav {
    display: flex;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin-left: 3rem;
}

#navbar li {
    margin: 1rem;
    color: gray;
}

#right-part-nav a{
    color: gray;
    margin-right: 1rem;
    text-decoration: none;
}
#right-part-nav button{
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(88, 255, 255);
    color: white;
}

#main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

#left-part-main{
    padding-left: 8rem;
    width: 50%;
}

#left-part-main h1{
    font-size: 4rem;
    font-weight: bold;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}
#left-part-main p{
    font-size: 1.3rem;
    color: gray;
    width: 90%;
}

#left-part-main button{
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(88, 255, 255);
    color: white;
    margin-top: 3rem;
}

#right-part-main{
    width: 50%;
}

/* ! second section  */


#sec-section{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid magenta;
    background-color: rgb(12, 0, 87);
    padding: 1.3rem;
    margin: 0 8rem;
}


#sec-section input{
    padding: 0.8rem 16rem;
    border: white;
    width: 60%;
}
#sec-section button{
    padding: 0.9rem 1rem;
    border-radius: 0.2rem;
    border: none;
    background-color: rgb(88, 255, 255);
    color: white;
    margin-left: 1rem;
    width: 10%;

}









